---
import Layout from '../layouts/Layout.astro';
import GTCV from '../components/GTCV.svelte';
---

<Layout title="Grid">
	<main>
		<GTCV boxCount="3" client:load />
	</main>
</Layout>

<style is:global>
	* {
	box-sizing: border-box;
	margin: 0;
	line-height: calc(1em + 0.725rem);
	-webkit-font-smoothing: antialiased;
	}

	html {
	block-size: 100%;
	background: conic-gradient(
			at 16.7% calc(100% - 16.7%),
			transparent 25%,
			#fff 0
		)
		0 / 4px 4px repeat,
		linear-gradient(to bottom right, hsl(264 50% 70% / 30%), transparent) 0 /
		100vw 200vh no-repeat;
	}

	body {
	min-block-size: 100%;
	font-family: system-ui;
	}

	/* main {
	display: grid;
	grid: auto / 1fr minmax(0, 1000px) 1fr;
	gap: 1rem;
	} */

	main {

	margin: 1.75rem;
	}

	section {
	/* grid-column: 2; */
	display: grid;
	grid: auto / 1fr 1fr;
	gap: 2rem;
	background: hsl(210deg 71% 18%);

	padding: 2rem;
	}

	code {
		font-size: 0.9rem;
	}



  button {
    font: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    display: inline-flex;
    align-items: center;
    gap: .375rem;
    border-radius: 99rem;
    border: 1px solid #55718d;
    background: hsl(210deg 73% 15%);
    color: #fff;
    font-weight: 600;
    font-size: 0.95rem;
    padding: .5rem 1rem .5rem 0.7rem;
    cursor: pointer;
    transition: 0.2s box-shadow;
    will-change: box-shadow;
  }

  button:hover {
    background: #0e395e;
  }

  button:active {
	background: #0d2e4e;
  }
	
</style>
